<h1>String Interpolation</h1>

<h4>{{ aplicacion }}</h4>

<ul>
  @for (comida of listaComida; track $index) {
  <li>Comprar: {{ comida }}</li>
  }
</ul>
<hr />

<h1>Property binding</h1>
<input type="button" value="Enviar" [disabled]="desabilitado">
<img [src]="urlImagen" alt="aleatoria">

<h1>Event binding</h1>
<button (click)="ClickHandler()">Click me!</button>
<p>{{ clicks }}</p>

<input type="text" (keyup)="InputHandler($event)">
<p>{{ resultado }}</p>

<hr />


<h1>Signals</h1>
<button (click)="CambiarBandera()">Cambiar</button>
<p>{{ bandera() }}</p>

<p>Contador: {{ contador() }}</p>

<p>Color seleccionado: {{ color() }}</p>
<input type="color" (change)="CambiarColor($event)">

<ul>
  @for (item of listadoSignal(); track $index) {
  <li>{{ item }}</li>
  }
</ul>
<!--
<ul>
  @for (item of listadoTareas(); track item.id ) {
  <li>Estado de la tarea: {{ item.nombre }} - {{ item.completada }} </li>
  }
</ul>
<p> Número de tareas: {{ listadoTareas().length }}</p>

<hr />

<h1>Estructuras de control</h1>

<button (click)="CambiarBandera()">Cambiar</button>

@if (bandera() === true) {
<h4>Administrador</h4>
}@else {
<h4>Usuario invitado</h4>
}

@switch (resultado) {
@case ("Elias"){
<h4>Bienvenido!</h4>
}
@case ("Comida"){
<h4>Comida seleccionada</h4>
}
@default {
<h4>Esperando respuesta</h4>
}
}


<div>
  <button (click)="cambiarCSS()">{{ botonEstado() }}</button>
  <span [class.ocultar]="ocultar()">Hola</span>
</div>

<input type="text" (keyup)="cambiarNombre($event)">
<span [className]="texto() === 'Valido' ? 'mostrar' : 'ocultar'">Ejemplo</span>

<hr />

<h1>Computed states</h1>

<h4>Ejemplo 1</h4>

<input type="text" placeholder="nombre" (keyup)="cambiarName($event)">
<input type="text" placeholder="apellido" (keyup)="cambiarApellido($event)">

<p>Nombre: {{ firstName() }}</p>
<p>Apellidos: {{ lastName() }}</p>

<p>Nombre completo: {{ fullName() }}</p>

<h4>Ejemplo 2</h4>

<button (click)="cambiar('admin')">Cambiar rol a admin</button>
<button (click)="cambiar('invitado')">Cambiar rol a invitado</button>

<p>Rol actual: {{ rol() }}</p>

{{ computedRol() }}

<h1>Tarea 2</h1>

<img [class.mostrar]="perroMostrar()" (mouseenter)="animar()" (mouseleave)="desanimar()" src="../../../assets/dog.png"
  alt="perro" class="perro">



<h1>Tarea 3</h1>

<div class="list-container">
  <input type="text" placeholder="Nueva tarea..." (keydown.enter)="newTask($event)">
  <div>
    <h2>Listado de tareas</h2>
    @for (item of tareaListado(); track $index) {
    <div class="list-item">
      <span>{{ item.nombre }}</span>
      <input type="checkbox" [value]="item.completada">
    </div>
    }
  </div>
</div>
-->
