<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>Mi lista de tareas</h1>
      <input [formControl]="nuevaTareaControlador" (keydown.enter)="checkTarea()" class="new-todo"
        placeholder="Nueva tarea" autofocus type="text" />
    </div>
  </header>
  <div class="container todoapp-wrapper">

    <section class="main">
      <ul class="todo-list">
        @for (task of listadoPorFiltro(); track task.id) {
        <li (dblclick)="updateModeEditing(task.id)" [class.editing]="task.editando" [class.completed]="task.completada">
          <div class="view">
            <input (click)="updateTask(task.id)" class="toggle" type="checkbox" [checked]="task.completada" />
            <label>{{ task.nombre }}</label>
            <button class="destroy" (click)="deleteTask(task.id)"></button>
          </div>
          <input class="edit" [value]="task.nombre" (blur)="updateTexto(task.id, $event)"
            (keydown.enter)="updateTexto(task.id, $event)" />
        </li>
        }
      </ul>
    </section>

    @if (listTask().length > 0) {
    <footer class="footer">

      <span class="todo-count"><strong>{{ listadoPorFiltro().length }}</strong>
        @if(listadoPorFiltro().length > 1){
        tareas
        }@else{
        tarea
        }
      </span>

      <ul class="filters">
        <li>
          <a (click)="CambiarFiltro('todas')" [class.selected]="filtro() === 'todas'">Todas</a>
        </li>
        <li>
          <a (click)="CambiarFiltro('pendientes')" [class.selected]="filtro() === 'pendientes'">Pendientes</a>
        </li>
        <li>
          <a (click)="CambiarFiltro('completadas')" [class.selected]="filtro() === 'completadas'">Completadas</a>
        </li>
      </ul>

      <button (click)="limpiarCompletadas()" class="clear-completed">Limpiar</button>
    </footer>
    }
  </div>
</section>
